<h1>Listing Drug allergies</h1>

<%= if @live_action in [:new, :edit] do %>
  <.modal return_to={Routes.drug_allergy_index_path(@socket, :index)}>
    <.live_component
      module={LifelineWeb.DrugAllergyLive.FormComponent}
      id={@drug_allergy.id || :new}
      title={@page_title}
      action={@live_action}
      drug_allergy={@drug_allergy}
      return_to={Routes.drug_allergy_index_path(@socket, :index)}
    />
  </.modal>
<% end %>

<table>
  <thead>
    <tr>
      <th>Name</th>

      <th></th>
    </tr>
  </thead>
  <tbody id="drug_allergies">
    <%= for drug_allergy <- @drug_allergies do %>
      <tr id={"drug_allergy-#{drug_allergy.id}"}>
        <td><%= drug_allergy.name %></td>

        <td>
          <span><%= live_redirect "Show", to: Routes.drug_allergy_show_path(@socket, :show, drug_allergy) %></span>
          <span><%= live_patch "Edit", to: Routes.drug_allergy_index_path(@socket, :edit, drug_allergy) %></span>
          <span><%= link "Delete", to: "#", phx_click: "delete", phx_value_id: drug_allergy.id, data: [confirm: "Are you sure?"] %></span>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<span><%= live_patch "New Drug allergy", to: Routes.drug_allergy_index_path(@socket, :new) %></span>
